<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#list列表转换为series" data-toc-modified-id="list列表转换为series-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>list列表转换为series</a></span></li><li><span><a href="#dictionary字典转换为series" data-toc-modified-id="dictionary字典转换为series-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>dictionary字典转换为series</a></span></li><li><span><a href="#series-转换为list或dictionary" data-toc-modified-id="series-转换为list或dictionary-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>series 转换为list或dictionary</a></span></li><li><span><a href="#series转换为dataframe" data-toc-modified-id="series转换为dataframe-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>series转换为dataframe</a></span></li><li><span><a href="#建立series" data-toc-modified-id="建立series-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>建立series</a></span></li></ul></div>

In [15]:
import pandas as pd
import numpy as np

## list列表转换为series

In [7]:
courses = ["Chinese", "Math", "English", "Computer"]
data1 = pd.Series(data=courses)
print(data1)

0     Chinese
1        Math
2     English
3    Computer
dtype: object

## dictionary字典转换为series
dictionary的操作<br>
<ul>
    <li>for key in dict.keys()</li>
    <li>for value in dict.values()</li>
    <li>for item in dict.items()</li>
    <li>for item,value in dict.items()</li>
</ul>

In [6]:
grades = {"Chinese":80,"Math":90,"English":85,"Computer":100}
data2 = pd.Series(data=grades)
print(data2)

Chinese      80
Math         90
English      85
Computer    100
dtype: int64

## series 转换为list或dictionary

In [12]:
grades = {"Chinese":80,"Math":90,"English":85,"Computer":100}
data2 = pd.Series(data=grades)
numbers = data2.to_list()
numberdict = data2.to_dict()
print(numbers)
print(numberdict)

[80, 90, 85, 100]
{'Chinese': 80, 'Math': 90, 'English': 85, 'Computer': 100}

## series转换为dataframe

In [13]:
grades = {"Chinese":80,"Math":90,"English":85,"Computer":100}
data2 = pd.Series(data=grades)
df = pd.DataFrame(data2, columns=["grade"])
print(df)

          grade
Chinese      80
Math         90
English      85
Computer    100

## 建立series

In [16]:
s = pd.Series(
    data=np.arange(10,100,10), # 数值 10～90 
    index=np.arange(101,110),# 索引 101～109
    dtype='float' # 类型 float64
)
print(s)

101    10.0
102    20.0
103    30.0
104    40.0
105    50.0
106    60.0
107    70.0
108    80.0
109    90.0
dtype: float64

In [22]:
s = pd.Series(
    data=["001","002","003","004"],# data
    index=list("abcd")
    )
# s = s.astype("int64") # 这里面的int是一个字符串
s = s.map(float) # 这是float一个函数
print(s)

a    True
b    True
c    True
d    True
dtype: bool

In [30]:
doc = {"English":80, "Chinese":90,"Math":95,"Computer":85}
grades = pd.Series(data=doc)
print(grades)
grades = grades.append(pd.Series({"Physics":90,"Chemistry":95}))
print(grades)

English     80
Chinese     90
Math        95
Computer    85
dtype: int64
English      80
Chinese      90
Math         95
Computer     85
Physics      90
Chemistry    95
dtype: int64

In [32]:
doc = {"English":80, "Chinese":90,"Math":95,"Computer":85}
grades = pd.Series(data=doc)
# 将index作为新的列名
df = data.reset_index()
df.columns = ["course", "grade"]
print(df)

     course  grade
0   Chinese     80
1      Math     90
2   English     85
3  Computer     70